body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 98%);
  font-family: "Nunito Sans";
  color: hsl(200, 15%, 8%);
  transition: 350ms;
}

.container {
  position: relative;
  width: 90%;
  margin: auto;
  padding: 40px 0;
}

.dark-mode button {
  background-color: transparent;
  color: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}
